body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f2f2f2;
}

header {
  background: black;
  color: white;
  padding: 25px;
  text-align: center;
}

nav {
  background: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}

.box {
  background: white;
  margin: 30px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px gray;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 12px;
  margin-top: 20px;
}
